<div class="jumbotron mt-4">
    <h1 class="display-4">APLICACION DE NOTAS</h1>
    <p class="lead">PROYECTO PLATAFORMAS WEB</p>
    <hr class="my-4">
    <p>Wendy German ♪</p>
    <p>Diego Osorio ►</p>
    <p>Dorival Pichamba ♫</p>

    <a href="/users/signin" class="btn btn-primary btn">Ingresa a la APP</a>

</div>